
<h1>Lista de productos</h1>
{{#each products}}
  <ul>
    <li>title: {{this.title}}</li>
    <li>description: {{this.description}}</li>
    <li>code: {{this.code}} </li>
    <li>price: {{this.price}} </li>
    <li>status: {{this.status}} </li>
    <li>stock: {{this.stock}} </li>
    <li>category: {{this.category}} </li>
    <li>thumbnails: {{this.thumbnails}} </li>
    <a href="/products/{{this._id}}">Detalle</a>
    <br>
    <button onclick="putIntoCart('{{this._id}}')">Agregar al Carrito</button>
  </ul>
{{/each}}
{{#if paginate.hasPrevPage}}
  <a href="/products?page= {{paginate.prevPage}}">{{paginate.prevPage}}</a>
{{/if}}
<a> {{paginate.page}} </a>
{{#if paginate.hasNextPage}}
<a href="/products?page= {{paginate.nextPage}}">{{paginate.nextPage}}</a>
{{/if}}
</br>

{ 
status: "succes"
totalDocs:{{paginate.totalDocs}}
limit:{{paginate.limit}}
totalPages:{{paginate.totalPages}}
page:
{{paginate.page}}
pagingCounter:{{paginate.pagingCounter}}
hasPrevPage:{{paginate.hasPrevPage}}
hasNextPage:{{paginate.hasNextPage}}
prevPage:{{paginate.prevPage}}
nextPage:{{paginate.nextPage}}
}

<script src="/js/product.js"></script>